<div class="card">
  <div class="container">
    <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" formControlName="title" class="form-control" />
          </div>
      <div class="form-group">
        <label for="street">Street</label>
        <input type="text" formControlName="street" class="form-control" />
      </div>
      <div class="form-group">
        <label for="locality">Locality</label>
        <input type="text" formControlName="locality" class="form-control" />
      </div>
      <div class="form-group">
        <label for="landmark">Landmark</label>
        <input type="text" formControlName="landmark" class="form-control" />
      </div>
      <div class="form-group">
        <label for="pincode">Pincode</label>
        <input type="number" formControlName="pincode" class="form-control" />
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="state">State</label>
          <select class="form-control" id="state" formControlName="state_id" >
            <option *ngFor="let state of states" value={{state.id}}>{{state.name}}</option>
          </select>
        </div>
        <div class="form-group col">
            <label for="district">District</label>
            <select class="form-control" id="district" formControlName="district_id">
              <option *ngFor="let district of districts" value={{district.id}}>{{district.name}}</option>
            </select>
          </div>
      </div>
      <button class="btn btn-success" [disabled]="!addressForm.valid">Submit</button>

    </form>
  </div>
</div>
