<form [formGroup]="restaurantCreateForm" (ngSubmit)="onSubmit()">
  <h2> Add a restaurant</h2>
  <br>
  <label>
    Name:
    <input type="text" formControlName="name" required>
  </label>


    <div class="form-group">
      <label for="sel1">Select category</label>
      <select  class="form-control" id="sel1" formControlName="category_id">
        <option *ngFor = "let category of categories" value="{{category.id}}" > {{category.name}}</option>
      </select>
    </div>



  <label for="sel1">Select cuisine</label>
  <select  class="form-control"  formControlName="cuisine_id">
    <option *ngFor = "let cuisine of cuisines" value="{{cuisine.id}}" > {{cuisine.name}}</option>
  </select>


  <div formGroupName="address">
    <h3>Address</h3>
    <br>
    <label>
      Street:
      <input type="text" formControlName="street" required>
    </label>
    <br>
    <label>
      locality
      <input type="text" formControlName="locality" required>
    </label>
    <br>
    <label>
      landmark:
      <input type="text" formControlName="landmark" required>
    </label>
    <br>
    <label>
      pincode:
      <input type="text" formControlName="pincode" required>
    </label>
    <br>

    <label for="sel1">Select state</label>
    <select class="form-control" formControlName="state_id">
      <option *ngFor="let state of states" value="{{state.id}}"> {{state.name}}</option>
    </select>

    <br>

    <label for="sel1">Select district</label>
    <select  class="form-control"  formControlName="district_id">
      <option *ngFor = "let district of districts" value="{{district.id}}" > {{district.name}}</option>
    </select>

    <br>


  </div>


  <label>
    Image
    <input type="file" accept="*/*" id="fileupload"
           (change)="onFileChange('image')"/>
  </label>

  <button type=" submit" [disabled]="!restaurantCreateForm.valid">create this restaurant</button>
</form>


<hr>





