


<div class="container">
  <h2>add cuisine</h2>
  <form class="form" [formGroup]="categoryCreateForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="example-text-input" class="col-2 col-form-label">Text</label>
      <div class="col-10">
        <input class="form-control" formControlName="name" type="text"  id="example-text-input">
      </div>
    </div>

    <div class="form-group">
      <button type="submit" [disabled]="!categoryCreateForm.valid" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
